<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jclemente.mp3player">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="com.jclemente.mp3player.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/yotsugi"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Testing">
        <activity android:name="com.jclemente.mp3player.QueueActivity"></activity>
        <activity android:name="com.jclemente.mp3player.ListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.jclemente.mp3player.PlayerActivity" />
        <service android:name="com.jclemente.mp3player.MusicService" />
    </application>

</manifest>